:root{
    --bk1: #1a1818b1;
}
body{
    background-color: var(--bk1);
}

header{
    background-color: var(--bk1);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    max-height: 15px;
}

header div{
    display: flex;
    justify-items: left;
    align-items: center;
    max-height: 100%;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}

.banner{
    background-color: var(--bk1);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about{
    background-color: var(--bk1);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about div{
    display: flex;
    justify-items: left;
    align-items: center;
    max-height: 100%;
}

.services{
    background-color: var(--bk1);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.services ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}

.services ul li{
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
    border: 1px solid white;
}

.contact{
    background-color: var(--bk1);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio{
    background-color: var(--bk1);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}

.portfolio ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid white;
}